<div class='proj-header'>
  <h1 class='proj-title'><%= model.escape('title') %>
  </h1>
  <h4>by <%= creator.fullName() %></h4>
</div>

<section class='proj-main group'>
  <img src="<%= model.escape('image_url_detail') %>" alt="ProjPictures">
  <div class="proj-stats">
    <li class='backers'>
      <div class="num">
        <%= model.numBackers().toLocaleString() %>
      </div>
      <div class='description'>
        backers
      </div>
    </li>
    <li class='pledged'>
      <div class='num'>
        <%= model.pledged().toLocaleString() %>
      </div>
      <div class="description">
        pledged of <strong>
        $<%= (model.get('goal')*100/100).toLocaleString() %>
        </strong>goal
      </div>
    </li>
    <li class='days-to-go'>
      <div class="num">
        <%= model.escape('days_left').toLocaleString() %>
      </div>
      <div class="description">
        days to go
      </div>
    </li>

    <% if (CashCow.currentUser.isSignedIn()) { %>
        <% if (!CashCow.currentUser.follows(model)) { %>
            <button class='follow like-me' data-type='like'>
              <strong>✭ Follow </strong>This Project
            </button>
        <% } else { %>
          <button class='follow unlike-me' data-type='unlike'>
            ✭ <strong>Unfollow </strong>This Project
          </button>
          <br>
        <% } %>
        <% if (! CashCow.currentUser.backs(model)) { %>
              <a class='fund' href='/#/projects/<%= model.id %>/back'>
                Fund This Project
              </a>
        <% } else { %>
          <a class='fund' href='/#/projects/<%= model.id %>/back'>
            Adjust Funding From $<%= (model.backers().findWhere({id: CashCow.currentUser.id}).get('amount')*100/100).toLocaleString() %>
          </a>
          <br>
        <% } %>
    <% } %>

  </div>
</section>

<section class='tabs'>
  <ul class='tab-titles group' id='detail-tab'>
     <li class='tab a' data-id='a'>
       About <%= model.escape('title') %>
     </li>
     <li class='tab b' data-id='b'>
       See All <%= model.numFollowers().toLocaleString() %> Followers
     </li>
     <li class='tab c' data-id='c'>
       See All <%= model.numBackers() %> Backers
     </li>
  </ul>
</section>

<div class="tab-content">

</div>
