<section class='discover-toggle'>
  <div class="modal-vehicle group">
    <div class="cat-modal" id="cat">
      <%= currentCategory %>
    </div>

    <strong class='cat-modal'>sorted by</strong>

    <div class="cat-modal">
      <%= orderCategories[currentOrder][1] %>
    </div>
  </div>
</section>

<ul class='discover-result group'>
</ul>

<div class="modal">
  <section class='modal-screen'>

  </section>

  <section class='modal-form group'>
    <div class="close-out">
      ●
    </div>

    <div class="selection group">
        <ul class="category-choice" name="category">
          <% projCategories.forEach(function (category) { %>
              <li class='category' data-value='<%= category %>'>
                <%= category %>
              </li>
          <% }) %>
        </ul>
        <ul class="order-choice" name="order">
          <% $.each(orderCategories, function (order, value) { %>
              <li class='order' data-value='<%= order %>'>
                <%= value[1] %>
              </li>
          <% }) %>
        </ul>
    </div>
  </section>

</div>
<% if(bookEnd - offSet > 0) { %>
  <div class="show-less">
    ☝
  </div>
<% } %>

<% if(length > bookEnd) { %>
  <div class="show-more">
    ☟
  </div>
<% } %>
