<section class='discover-toggle'>
  <div class="selection group">
    <label class='category'>
      <select class="category-choice" name="category">
        <% projCategories.forEach(function (category) { %>
            <option value='<%= category %>'
             <% if(category === currentCategory) { %>
               <%= "selected" %>
             <% } %>>
              <%= category %>
            </option>
        <% }) %>
      </select>
    </label>
    <label class='order'><strong id='discovery'>sorted by</strong>
      <select class="order-choice" name="order">
        <% $.each(orderCategories, function (category, value) { %>
            <option value='<%= category %>'
             <% if(category === currentOrder) { %>
               <%= "selected" %>
             <% } %>>
              <%= value[1] %>
            </option>
        <% }) %>
      </select>
    </label>
  </div>
</section>

<ul class='discover-result'>

</section>
