<div class="new-proj-header">
	<section class='new-proj-selection'>
		<h1 clas='new-proj-header'>What are <strong id='emphasis'>you</strong> going to Create?</h1>
		<div class="proj-header-selection group">
			<h2>I want to start a</h2>
			<div class="proj-cat-modal">
				<%= currentCategory %> ▼
			</div>
			<h2>project called</h2>
		</div>
	</section>
	<input id='title' type="text" name="title" placeholder='title...' val="<%= model.escape('title') %>">
</div>

<section class='main-form group'>
	<div class="project-start">
		<button class='proj-start'>
			Let's Get Started!
		</button>
	</div>

	<section class='form' id='project-form'>
		<div class='group'>
			<h6>Deadline:</h6>
			<input id='deadline' type="date" class='date' name="deadline">
		</div>
		<div class='group'>
			<h6 class='funding-goal'>Funding Goal:</h6>
			<input id='goal' type="integer" name="goal">
		</div>
		<div class='group'>
			<h6>Description:</h5>
			<textarea id='description' name="description" placeholder="What are you seeking funding for?"></textarea>
		</div>

		<div class='group'>
			<h6>Upload an Image For Project:</h6>
			<input id='image' type="file" name="image">
		</div>
	</section>
</section>


<div class="modal">
  <section class='modal-screen'>

  </section>

  <section class='modal-form group'>
    <div class="close-out">
      ●
    </div>

  <div class="selection group">
		<ul class="category-choice proj-category-choice" name="category">
      <% projCategories.forEach(function (category) { %>
          <li class='category' id='<%= category %>' data-value='<%= category %>'>
            <%= category %>
          </li>
      <% }) %>
    </ul>
	</div>
  </section>
