<div class="new-proj-header">
	<h1 clas='new-proj-header'>What are you going to Create?</h1>
	<section class='selection'>
		<h2>I want to start a</h2>
		<div class="cat-modal">
			<%= selectedCat %> ▼
		</div>
		<h2>project called</h2>
	</section>
	<section class=title id='title'>
		<input id='title' type="text" name="title" placeholder='title...' val="<%= model.escape('title') %>">
	</section>
</div>

<label>Image URL:
	<input id='image' type="file" name="image">
</label>
<label>Description:
	<textarea id='description' name="description" rows="8" cols="40">
		<%= model.escape('description') %>
	</textarea>
</label>
<label> Deadline:
	<input id='deadline' type="date" class='date' name="deadline">
</label>
<label> Funding Goal:
	<input id='goal' type="integer" name="goal">
</label>

<button class="start-proj">Start!</button>


<div class="modal">
  <section class='modal-screen'>

  </section>

  <section class='modal-form group'>
    <div class="close-out">
      ●
    </div>

    <div class="selection group">
        <ul class="category-choice" name="category">
          <% projCategories.forEach(function (category) { %>
              <li class='category' data-value='<%= category %>'>
                <%= category %>
              </li>
          <% }) %>
        </ul>
        </ul>
    </div>
  </section>
