<%= model.escape('title') %>

<%= model.escape('description') %>

<label>Days Left:
  <%= model.escape('days_left') %>
</label>

<label>Days Gone By:
  <%= model.escape('days_gone_by') %>
</label>

<label>Goal:
  <%= model.escape('goal') %>
</label>
