<% if(type==='highlight') { %>

  <img src="<%= model.escape('image_url') %>" alt="Project Picture">

  <h1 class='highlight highlight-category'>
    Most <%= catToHighlight %>
  </h1>

  <h3 class='highlight higlight-title'>
    <%= model.escape('title') %>
  </h3>

  <a class='highlight proj-button' href="/#/projects/<%= model.id %>">
    View This Project
  </a>

<% } else { %>
  <a href="/#/projects/<%= model.id %>">
    <%= model.escape('title') %>
  </a>
  <%= model.escape('category') %>
  <%= model.escape('description') %>
  <br>
  <% if (CashCow.currentUser.isSignedIn() &&
    CashCow.currentUser.id !== model.user_id) { %>
      <% if (CashCow.currentUser.followedProjects().where
          ({id: model.id}).length===0) { %>
          <button class='follow' data-id='<%= model.id %>'>
            Follow This Project
          </button>
      <% } else { %>
        <button class='follow' data-id='<%= model.id %>'>
          Follow This Project
        </button>
        <br>
      <% } %>
      <% if (CashCow.currentUser.backedProjects().where
          ({id: model.id}).length===0) { %>
            <a class='fund' href='/#/projects/<%= model.id %>/back'>
              Fund This Project
            </a>
      <% } else { %>
        <a class='fund' href='/#/projects/<%= model.id %>/back'>
          Adjust Your Funding Of This Project (<%= CashCow.currentUser.backedProjects().where({id: model.id}) %>)
        </a>
        <br>
      <% } %>
  <% } %>
<% } %>
