<%= model.escape('title') %>

<a href="#discover">
  See More <%= catToHighlight %>
</a>

<%= model.escape('description') %>

<label> <%= catToHighlight %>
  <%= model.escape(catToHighlight) %>
</label>
