<%= model.escape('title') %>

<a href="#discover">
  See All <%= model.escape('category') %>
</a>

<%= model.escape('description') %>

<label> <%= catToHighlight %>
  <%= model.escape(catToHighlight) %>
</label>
