<div class='thumbnail'>
  <img src="<%= model.escape('image_url') %>" alt="ProjectPicture">
  <div id="thumbnail-title">
    <%= model.escape('title') %>
  </div>

    <div id='thumbnail-name'>
      <%= creator.fullName() %>
    </div>

  <div class="thumbnail-description">
    <%= model.blurb(25) %>
  </div>

  <ul class="thumbnail-stats group">
    <li id='funded_status'>
      <strong>
        <%= model.fundedStatus().toLocaleString() %>%
      </strong>
      funded
    </li>
    <li id='amount_funded'>
      <strong>
        $<%= (model.escape('amount_funded')/100*100).toLocaleString() %>
      </strong>
      pledged
    </li>

    <li id='days_left'>
      <strong>
        <%= model.escape('days_left').toLocaleString() %>
      </strong>
      days to go
    </li>

  </ul>

</div>
