<div class='thumbnail'>
  <% if (CashCow.currentUser.isSignedIn()) { %>
    <% if (!CashCow.currentUser.follows(model)) { %>
      <div data-id='<%= model.id %>' data-type='like' class="like-me">
    <% } else { %>
      <div data-id='<%= model.id %>' data-type='unlike' class="unlike-me">
    <% } %>
        ✭
      </div>
  <% } %>
  <img id='project-picture' src="<%= model.escape('image_url_thumbnail') %>" alt="ProjectPicture">
  <div id="thumbnail-title">
    <%= model.escape('title') %>
  </div>

    <div id='thumbnail-name'>
      <%= creator.fullName() %>
    </div>

  <div class="thumbnail-description">
    <%= model.blurb(175) %>
  </div>

  <div class="progress-container">
    <div class='meter'
     <span style='width:<%= Math.min(parseInt(model.fundedStatus()), 100) %>%'></span>
    </div>
  </div>

  <ul class="thumbnail-stats group">
    <li id='funded_status'
    <% if (catToHighlight === 'funded_status') { %>
      class='active'
    <% } %>
    >
      <strong>
        <%= model.fundedStatus().toLocaleString() %>%
      </strong>
      funded
    </li>
    <li id='amount_funded'
    <% if (catToHighlight === 'amount_funded') { %>
      class='active'
    <% } %>
    >
      <strong>
        $<%= (model.pledged()/100*100).toLocaleString() %>
      </strong>
      pledged
    </li>

    <li id='days_left'
    <% if (catToHighlight === 'days_left') { %>
      class='active'
    <% } %>
    >
      <strong>
        <%= model.escape('days_left').toLocaleString() %>
      </strong>
      days to go
    </li>

  </ul>

</div>
