<div class='thumbnail'>
  <img src="<%= model.escape('image_url') %>" alt="ProjectPicture">
  <div class="thumbnail-title">
    <%= model.escape('title') %>
  </div>

    <div class="thumbnail-name">
      <%= creator.fullName() %>
    </div>

  <div class="thumbnail-description">
    <%= model.blurb(25) %>
  </div>

  <ul class="thumbnail-stats group">
    <li>
      <%= model.fundedStatus().toLocaleString() %>% funded
    </li>
    <li>
      $<%= model.escape('amount_funded').toLocaleString() %> pledged
    </li>

    <li>
      <%= model.escape('days_left').toLocaleString() %> days to go
    </li>
  </ul>

</div>
