<ul class='tab-titles group' id='detail-tab'>
   <li class='tab a' data-id='a'>
     About
   </li>
   <li class='tab b' data-id='b'>
     See All <%= model.numFollowers().toLocaleString() %> Followers
   </li>
   <li class='tab c' data-id='c'>
     See All <%= model.numBackers() %> Backers
   </li>
</ul>

  <% if(currentTabId === 'a') { %>
    <div class="project-description">
      <%= subject %>
    </div>
  <% } else { %>
    <% if(subject.length !== 0) { %>
        <section class = 'page-tabs tab-titles group' id='page-tabs'>
          <% if(currentPage > 1) { %>
            <button class='prev pagination'> << </button>
          <% } %>
          <div id='current-page'><%= currentPage %></div> of <%= totalPages %>
          <% if(currentPage < totalPages) { %>
            <button class='next pagination'> >> </button>
          <% } %>
        </section>
        <div class="tab-content">

        <% subject.forEach(function (user) { %>
        		<li id='user-description'>
        			<% if(currentTabId === 'b') { %>
        				<div id='strong-name'><%= user.fullName() %></div> is following this project
        			<% } else { %>
        				<div id='strong-name'><%= user.fullName() %></div> gave $<%= (user.get('amount')*100/100).toLocaleString() %> on
        				<% var dateParts = user.get('fund_date').split('-') %>
        				<%= new Date (dateParts[0], dateParts[1], dateParts[2].slice(0,2)).toLocaleString() %>
        			<% } %>
        		</li>
        <% }); %>
      </div>
    <% } %>
  <%  } %>
</section>
