<header class='profile-header group'>
   <div class="profile-picture">
     <img src="<%= user.escape('image_url_profile') %>" alt="PROFPIC">
   </div>
   <div class="profile-info">
     <h1> <%= user.fullName() %> </h1>
     <ul class='user-stats'>
       <li><%= user.createdProjects().length %> Created Projects</li>
       <li><%= user.backedProjects().length %> Funded Projects</li>
       <li><%= user.followedProjects().length %> Followed Projects</li>
      <ul>
   </div>
</header>

<button id='delete-user' class='delete-account'>Delete This Account</button>

<ul class='user-stats'>
  <li></li>
</ul>

<section class='tabs'>
  <ul class='tab-titles group' id='profile-tab-titles'>
     <li class='tab a' data-id='a'>
       Created
       (<%= user.createdProjects().length %>)
     </li>
     <li class='tab b' data-id='b'>
      Backed (<%= user.backedProjects().length %>)
    </li>
     <li class='tab c' data-id='c'>
       Followed (<%= user.followedProjects().length %>)
     </li>
  </ul>
</section>

<section class = 'page-tabs tab-titles group'>
  <% if(currentPage > 1) { %>
    <button class='prev pagination'> << </button>
  <% } %>
  <div id='current-page'>
    <% if(currentTab.models.length === 0) { %>
      0
    <% } else { %>
      <%= currentPage %>
    <% } %></div> of <%= totalPages  %>
  <% if(currentPage < totalPages) { %>
    <button class='next pagination'> >> </button>
  <% } %>
</section>

<ul class='user-projects group'>
  <% currentTab.page(currentPage, offSet).forEach(function (proj) { %>
    <li>
      <img src='<%= proj.escape('image_url_thumbnail') %>' alt="ProjectPicture">
      <%= proj.escape('title') %>
    </li>
  <% }) %>
</ul>
