<header class='profile-header group'>
   <div class="profile-picture">
     <img src="<%= user.escape('image_url_profile') %>" alt="PROFPIC">
   </div>
   <div class="profile-info">
     <h1> <%= user.fullName() %> </h1>
     <ul class='user-stats'>
       <li><%= user.createdProjects().length %> Created Projects</li>
       <li><%= user.backedProjects().length %> Funded Projects</li>
       <li><%= user.followedProjects().length %> Followed Projects</li>
      <ul>
   </div>
</header>

<button id='delete-user' class='delete-account'>Delete This Account</button>

<ul class='user-stats'>
  <li></li>
</ul>

<section class='tabs'>
  <ul class='tab-titles group'>
     <li class='tab a' data-id='a'>
       Created
       (<%= user.createdProjects().length %>)
     </li>
     <li class='tab b' data-id='b'>
      Backed (<%= user.backedProjects().length %>)
    </li>
     <li class='tab c' data-id='c'>
       Followed (<%= user.followedProjects().length %>)
     </li>
  </ul>
</section>

<div class="tab-content">

  <div class="a active">
    <ul class='tab-list'>
      <% user.createdProjects().models.forEach(function (proj) { %>
        <li>
          <img src="<%= proj.escape('image_url') %>" alt="ProjectPicture">
          <%= proj.escape('title') %>
        </li>
      <% }) %>
    </ul>
  </div>

  <div class="b">
    <ul class='tab-list'>
      <% user.backedProjects().models.forEach(function (proj) { %>
        <li>
          <img src="<%= proj.escape('image_url') %>" alt="ProjectPicture">
          <%= proj.escape('title') %>
        </li>
      <% }) %>
    </ul>
  </div>

  <div class="c">
    <ul class='tab-list'>
      <% user.followedProjects().models.forEach(function (proj) { %>
        <li>
          <img src="<%= proj.escape('image_url') %>" alt="ProjectPicture">
          <%= proj.escape('title') %>
        </li>
      <% }) %>
    </ul>
  </div>

</div>
