<% if type == 'new_user' %>
	<% header = "Sign Up" %>
	<% action = '/users' %>
	<% method = 'post' %>
<% elsif type == 'new_session' %>
	<% header = "Sign In" %>
	<% action = '/session' %>
	<% method = 'post' %>
<% end %>

<h1><%= header %></h1>

<form action='<%= action %>' method='post'>
	<input type="hidden" name="_method" value="<%= method %>">
  <%= form_auth %>
  <label>Email<br>
    <input name="user[email]" type="text" value=<%= user.email %>><br>
  </label><br>
  <label>Password<br>
    <input name="user[password]" type="password" value=""><br>
  </label><br>
	<label>First Name<br>
		<input name="user[fname]" type="text" value=<%= user.fname %>><br>
	</label><br>
	<label>Last Name<br>
		<input name="user[lname]" type="text" value=<%= user.lname %>><br>
	</label><br>
	<label>Image URL<br>
		<input name="user[image_url]" type="text" value=<%= user.image_url %>><br>
	</label><br>
	<button>Submit</button>
</form>

<a href="/auth/twitter"> <%= header %> with Twitter	</a>
