<header class='nav-bar group'>
	<ul class='logo-discovery group'>
		<li class='logo'>
			<a href="">
				<img src="<%= asset_path('logo.png') %>" alt="CashCow">
			</a>
		</li>
		<li class='nav-link'>
			<%= link_to "Discover", "/#/projects/discover/All" %>
		</li>
		<li class='nav-link'>
			<%= link_to "Start", "/#/projects/new" %>
		</li>
	</ul>
	<ul class='user-menu'>
		<% if current_user %>
			<form action='<%= session_url %>' method="post">
				<%= form_auth %>
				<input type="hidden" name="_method" value="delete">
				<button>Log Out!</button>
			</form>
		<% else %>
			<%= link_to "Sign Up!", new_user_url %>
			<%= link_to "Sign In!", new_session_url %>
		<% end %>
	</ul>
</header>
